# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build artifacts
build/
tools/poc-dylib-load/build/


# Python
__pycache__/
